<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{! Tell the browser to be responsive to screen width }}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{! Font Awesome }}
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
    {{! Ionicons }}
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    {{! Tempusdominus Bbootstrap 4 }}
    <link rel="stylesheet" href="/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    {{! Theme style }}
    <link rel="stylesheet" href="/dist/css/adminlte.min.css">
    {{! overlayScrollbars }}
    <link rel="stylesheet" href="/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    {{! Daterange picker }}
    <link rel="stylesheet" href="/plugins/daterangepicker/daterangepicker.css">
    {{! summernote }}
    <link rel="stylesheet" href="/plugins/summernote/summernote-bs4.css">
    {{!Custom Styles}}
    {{#if login }}
      <link rel="stylesheet" href="/dist/css/login.css">
    {{else}}
      <link rel="stylesheet" href="/dist/css/styles.css">
    {{/if}}    
    {{! Google Font: Source Sans Pro }}
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    {{! Datatables }}
    <link href="/dist/css/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="/dist/css/responsive.bootstrap4.min.css" rel="stylesheet">
    {{! Sweet Alert}}  
    <link href="/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet">
    
    <title>Sistema de Gestión de Feedlots</title>
</head>
<body class="hold-transition sidebar-mini layout-fixed main-bg">

  {{#if login }}
    {{> error }}
    {{{ body }}}
  {{else}}
    <div class="wrapper">
        {{> navbar }}
        {{> sidebar }}
        
          <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
          <!-- Content Header (Page header) -->
          <div class="content-header">
            <div class="container-fluid">
              <div class="row mb-2">
                <div class="col-sm-6">
                  <h1 class="m-0 text-dark">{{ titulo }}</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                  <ol class="breadcrumb float-sm-right">
                    {{{ breadcrumbs }}}
                  </ol>
                </div><!-- /.col -->
              </div><!-- /.row -->
            </div><!-- /.container-fluid -->
          </div>
          <!-- /.content-header -->

          <!-- Main content -->
          <section class="content">
            <div class="container-fluid">
              <div class="row">
                  {{{ body }}}
              </div> <!-- row -->
            </div><!-- /.container-fluid -->
          </section>
          <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
    </div>
    <!-- /.content-wrapper -->
  {{/if}}

{{>scripts}}
</body>
</html>